@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-um: #000000;
    --cor-dois: #F6F6F6;
    --cor-tres: #22D4FD;
    --cor-hover: #272727;

    --fonte-principal: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-um);
    box-sizing: border-box;
    color: var(--cor-dois);
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    color: var(--cor-tres);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

.apresentacao {
    align-items: center;
    display: flex;
    gap: 82px;
    justify-content: space-between;
    padding: 3% 15%;
}

.apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
}

.apresentacao__conteudo__titulo{
    font-family: var(--fonte-principal);
    font-size: 2.25rem;
}

.apresentacao__conteudo__texto{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
}

.destaque{
    color: var(--cor-tres);
}

.empresa {
    font-size: 26px;
}

.apresentacao__links {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    font-weight: 400;
}

.apresentacao__links__navegacao {
    align-items: center;
    border: 2px solid var(--cor-tres);
    border-radius: 8px;
    color: var(--cor-dois);
    display: flex;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    gap: 16px;
    justify-content: center;
    padding: 21px 0;
    text-align: center;
    text-decoration: none;
    width: 40%;
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
}

.apresentacao__imagem {
    border-radius: 14%;
    width: 50%;
}

.rodape {
    background-color: var(--cor-tres);
    color: #000000;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
    padding: 24px;
    text-align: center;
}

@media (max-width: 1200px) {

    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .apresentacao__links__navegacao {
        width: 60%;
    }
}
